# Env file
.env
.env.production
.env.local
.env.*.local

# Local secrets
.secrets/

# IntelliJ / JetBrains
.idea/
*.idea/

# Maven / Gradle build
target/

# Logs
logs/*.log
logs/*.txt
*.logs
*.settings/
*.md
*.classpath
*.org.eclipse.jdt.core.prefs
.org.eclipse.jdt.core.prefs